<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Project Title</title>
		<link rel="preload" href="fonts/Commissioner-Light.woff" as="font" type="font/woff" crossorigin="anonymous">
		<link rel="preload" href="fonts/Commissioner-Medium.woff" as="font" type="font/woff" crossorigin="anonymous">
		<link rel="preload" href="fonts/Commissioner-Bold.woff" as="font" type="font/woff" crossorigin="anonymous">
		<link rel="preload" href="fonts/Commissioner-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">
		<link rel="preload" href="fonts/icomoon.ttf?4kmysk" as="font" type="font/ttf" crossorigin="anonymous">
		<link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico">
		<link rel="SHORTCUT ICON" href="images/favicon.ico">
		<link media="all" rel="stylesheet" href="css/main.css">
		<link media="all" rel="stylesheet" href="css/engine.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
		<script>window.jQuery || document.write('<script src="js/jquery-3.2.1.min.js" defer><\/script>')</script>
		<script src="js/jquery.main.js" defer></script>
		<script src="js/jquery.engine.js" defer></script>
	</head>
	<body class="popup-holder popup-holder-menu popup-holder-catalog popup-holder-contacts popup-holder-callback popup-holder-help popup-holder-otherphones popup-holder-thanks" id="totop">
		<div id="wrapper">
			<header class="header">
				<section class="section- section-header-menu">
					<div class="container">
						<div class="block menu-block">
							<ul class="menu">
								<li>
									<a href="#">
										<span>О нас</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Доставка / Оплата</span>
									</a>
								</li>
								<li class="active">
									<a href="#">
										<span>Гарантия / Возврат</span>
									</a>
									<span class="menu-line"></span>
								</li>
								<li>
									<a href="#">
										<span>Контакты</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="block lang-block">
							<ul class="lang">
								<li>
									<a href="#">
										<span>Рус</span>
									</a>
								</li>
								<li class="active">
									<a href="#">
										<span>Укр</span>
									</a>
									<span class="lang-line"></span>
								</li>
								<li>
									<a href="#">
										<span>Eng</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="section- section-header-contacts">
					<div class="container">
						<div class="mobile">
							<a href="#" class="open-popup open-menu">
								<i class="icon-menu"></i>
							</a>
						</div>
						<div class="block logo-block">
							<div class="logo">
								<a href="#">
									<span class="img">
										<i class="icon-plug-1"></i>
									</span>
									<span class="caption">
										<span>Shop</span><span class="bold">24</span>
									</span>
									<span class="text">
										Ваш шаблонный<br>интернет магазин
									</span>
								</a>
							</div>
						</div>
						<div class="block contacts-block">
							<ul class="contacts">
								<li>
									<a href="tel:0800111111">
										<i class="icon-phone-call1"></i>
										<span class="text">
											<span>0 (800) 111-111</span>
										</span>
									</a>
								</li>
								<li>
									<a href="tel:0800222222">
										<i class="icon-smartphone"></i>
										<span class="text">
											<span>0 (800) 222-222</span>
										</span>
									</a>
								</li>
							</ul>
							<a href="#" class="contacts-more open-popup open-contacts">
								<i class="icon-down-chevron"></i>
							</a>
						</div>
						<div class="block callback-block">
							<a href="#" class="callback open-popup open-callback">
								<i class="icon-phone-call"></i>
								<span>Перезвоним</span>
							</a>
						</div>
						<div class="mobile">
							<a href="#" class="open-popup open-contacts">
								<i class="icon-telephone"></i>
							</a>
						</div>
					</div>
				</section>
				<section class="section- section-header-catalog">
					<div class="container">
						<div class="block catalog-main-block">
							<nav class="catalog-nav accordion-catalog">
								<div class="catalog-hover-block">
									<div class="catalog-link mobile">
										<a href="#" class="open-popup open-catalog">
											<i class="icon icon-book1 tablet"></i>
											<i class="icon icon-search"></i>
											<span>Каталог товаров</span>
											<i class="icon-down-arrow"></i>
										</a>
									</div>
									<div class="catalog-link opener desktop">
										<a href="#" class="">
											<i class="icon icon-book1"></i>
											<span>Каталог товаров</span>
											<i class="icon-down-arrow"></i>
										</a>
									</div>
									<div class="catalog-inner-block slide ">
										<div class="catalog-block scrollbar-dynamic">
											<ul class="catalog  accordion-catalog-inner">
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span class="img">
																<img class="lazy" data-src="images/cat1-min.webp" alt="">
															</span>
															<span>Смартфоны и мобильные телефоны</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Рации</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span class="img">
																<img class="lazy" data-src="images/cat2-min.webp" alt="">
															</span>
															<span>Гаджеты</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны и мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны и стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы и рации</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Адаптеры</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span>Смартфоны и мобильные телефоны</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Рации</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span class="img">
																<img class="lazy" data-src="images/cat2-min.webp" alt="">
															</span>
															<span>Гаджеты</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны и мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны и стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы и рации</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Адаптеры</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span class="img">
																<img class="lazy" data-src="images/cat1-min.webp" alt="">
															</span>
															<span>Смартфоны и мобильные телефоны</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Рации</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span class="img">
																<img class="lazy" data-src="images/cat2-min.webp" alt="">
															</span>
															<span>Гаджеты</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны и мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны и стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы и рации</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Адаптеры</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span>Смартфоны и мобильные телефоны</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Рации</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span class="img">
																<img class="lazy" data-src="images/cat2-min.webp" alt="">
															</span>
															<span>Гаджеты</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны и мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны и стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы и рации</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Адаптеры</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span class="img">
																<img class="lazy" data-src="images/cat1-min.webp" alt="">
															</span>
															<span>Смартфоны и мобильные телефоны</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Рации</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span class="img">
																<img class="lazy" data-src="images/cat2-min.webp" alt="">
															</span>
															<span>Гаджеты</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны и мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны и стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы и рации</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Адаптеры</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span>Смартфоны и мобильные телефоны</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Рации</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span class="img">
																<img class="lazy" data-src="images/cat2-min.webp" alt="">
															</span>
															<span>Гаджеты</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны и мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны и стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы и рации</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Адаптеры</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span class="img">
																<img class="lazy" data-src="images/cat1-min.webp" alt="">
															</span>
															<span>Смартфоны и мобильные телефоны</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Рации</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span class="img">
																<img class="lazy" data-src="images/cat2-min.webp" alt="">
															</span>
															<span>Гаджеты</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны и мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны и стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы и рации</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Адаптеры</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
												<li>
													<div class="openerlink">
														<a href="#" class="caption opener-inner">
															<span>Смартфоны и мобильные телефоны</span>
															<span class="icon">
																<i class="icon-down-arrow"></i>
															</span>
														</a>
														<a href="#" class="linkto">
															<i class="icon-right-arrow"></i>
														</a>
													</div>
													<div class="slide-inner">
														<ul>
															<li>
																<a href="#">
																	<span>Смартфоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Мобильные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Модемы</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Стационарные телефоны</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Рации</span>
																</a>
															</li>
														</ul>
														<a href="#" class="more">
															<span>Смотреть все</span>
															<i class="icon-right-chevron"></i>
														</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</nav>
						</div>
						<div class="block search-block">
							<div class="search">
								<form action="#" class="-form search-form">
									<fieldset>
										<div class="row">
											<input type="text" placeholder="Поиск по сайту ...">
											<button type="submit">
											<i class="icon-search"></i>
											</button>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
						<div class="block pagelinks-block">
							<div class="block cabinet-block">
								<a href="#" class="pagelinks cabinet active">
									<i class="icon icon-user-2"></i>
									<span>Кабинет</span>
									<i class="check icon-check"></i>
								</a>
							</div>
							<div class="block compare-block">
								<a href="#" class="pagelinks compare">
									<i class="icon icon-bar-chart"></i>
									<span>Сравнить</span>
									<span class="number">0</span>
								</a>
							</div>
							<div class="block favorites-block">
								<a href="#" class="pagelinks favorites">
									<i class="icon icon-heart"></i>
									<span>Избранное</span>
									<span class="number">0</span>
								</a>
							</div>
							<div class="block basket-block">
								<a href="#" class="pagelinks basket active">
									<i class="icon icon-shopping-bag"></i>
									<span>Корзина</span>
									<span class="number">25</span>
								</a>
							</div>
						</div>
					</div>
				</section>
			</header>
			<main role="main" id="main">
				<section class="section- section-breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="#">Главная</a></li>
							<span>/</span>
							<li><a href="#">Каталог</a></li>
							<span>/</span>
							<li><a href="#">Подкаталог</a></li>
							<span>/</span>
							<li><span>Конкретная страница</span></li>
						</ul>
						<h1>Конкретная страница</h1>
					</div>
				</section>
				<section class="section- section-content section-sitemap">
					<div class="container">
						<div class="sitemap-block">
							<ul class="sitemap">
								<li>
									<a href="#">Главная</a>
								</li>
								<li>
									<a href="#">О нас</a>
								</li>
								<li>
									<a href="#">Блог</a>
									<ul>
										<li><a href="#">Статья номер 1</a></li>
										<li><a href="#">Статья номер 2</a></li>
										<li><a href="#">Статья номер 3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Каталог</a>
									<ul>
										<li><a href="#">Группа товаров 1</a></li>
										<li><a href="#">Группа товаров 2</a></li>
										<li><a href="#">Группа товаров 3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Доставка</a>
								</li>
								<li>
									<a href="#">Оплата</a>
								</li>
								<li>
									<a href="#">Возврат/обмен</a>
								</li>
								<li>
									<a href="#">Отзывы</a>
								</li>
								<li>
									<a href="#">Контакты</a>
								</li>
							</ul>
						</div>
						<div class="pagination-block">
							
							<ul class="pagination">
								<li>
									<a href="#">
										<i class="icon-left-chevron"></i>
									</a>
								</li>
								<li class="active">
									<a href="#">
										1
									</a>
								</li>
								<li>
									<a href="#">
										2
									</a>
								</li>
								<li>
									<a href="#">
										3
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-right-chevron"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="section- section-prefooter">
				</section>
			</main>
			<footer class="footer">
				<div class="container">
					<div class="column column100">
						<div class="column first">
							
							<div class="block logo-block">
								<div class="logo">
									<a href="#">
										<span class="img">
											<i class="icon-plug-1"></i>
										</span>
										<span class="caption">
											<span>Shop</span><span class="bold">24</span>
										</span>
										<br>
										<span class="text">
											Ваш шаблонный<br>интернет магазин
										</span>
									</a>
								</div>
							</div>
							<div class="policy-block">
								<p>© Все права защищены 2020</p>
								<p><a href="#">Политика конфиденциальности</a></p>
								<p><a href="#">Карта сайта</a></p>
							</div>
						</div>
						<div class="column">
							<div class="footer-caption">
								<span>Компания</span>
							</div>
							<ul class="footer-menu">
								<li>
									<a href="#">
										<span>О компании</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Магазины</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Контакты</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Пресс-центр</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Партнерам</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Каталог товаров</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="column">
							<div class="footer-caption">
								<span>Помощь</span>
							</div>
							<ul class="footer-menu">
								<li>
									<a href="#">
										<span>Найти заказ</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Условия доставки</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Обмен и возврат товара</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Статус товара в ремонте</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Часто задаваемые вопросы</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="column">
							<div class="footer-caption">
								<span>Магазин</span>
							</div>
							<ul class="footer-menu">
								<li>
									<a href="#">
										<span>Бонусная программа</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Подарочные карты</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Кредит и оплата частями</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Установка</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Страховка</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Дополнительная гарантия</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>IT-сервис</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Безналичный счет</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="column last">
							
							<div class="footer-caption">
								<span>Контакты</span>
							</div>
							<div class="block contacts-block">
								<ul class="contacts">
									<li>
										<a href="tel:0800111111">
											<i class="icon-"></i>
											<span class="text">
												<span>0 (800) 111-111</span>
											</span>
										</a>
									</li>
									<li>
										<a href="tel:0800222222">
											<i class="icon-"></i>
											<span class="text">
												<span>0 (800) 222-222</span>
											</span>
										</a>
									</li>
								</ul>
								<a href="#" class="contacts-more open-popup open-contacts">
									<i class="icon-down-chevron"></i>
								</a>
							</div>
							<div class="block messengers-block">
								<ul class="messengers">
									<li>
										<a href="#">
											<span class="img">
												<img class="lazy" data-src="images/telegram-min.webp" alt="">
											</span>
											<span class="caption">Telegram</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="img">
												<img class="lazy" data-src="images/whatsapp-min.webp" alt="">
											</span>
											<span class="caption">WhatsApp</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="img">
												<img class="lazy" data-src="images/viber-min.webp" alt="">
											</span>
											<span class="caption">Viber</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="block callback-block">
								<a href="#" class="callback open-popup open-callback">
									<i class="icon-phone-call"></i>
									<span>Перезвоним</span>
								</a>
							</div>
							<div class="footer-caption">
								<span>Время работы</span>
							</div>
							<div class="time-block">
								<ul class="time">
									<li>Пн-Пт: 9.00-18.00</li>
									<li>Сб: 10.00-16.00</li>
									<li>Вс: выходной</li>
								</ul>
							</div>
						</div>
					</div>
					<hr>
					<div class="column column100">
						<div class="column">
							<div class="paymentsystems-block">
								<div class="footer-caption min">
									<span>Платежные системы</span>
								</div>
								<ul class="paymentsystems">
									<li>
										<a href="#">
											<span class="img">
												<img class="lazy" data-src="images/pay1-min.webp" alt="">
											</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="img">
												<img class="lazy" data-src="images/pay2-min.webp" alt="">
											</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="img">
												<img class="lazy" data-src="images/pay3-min.webp" alt="">
											</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>MonoBank</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>AlfaBank</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="column">
							<div class="socials-block">
								<div class="footer-caption min">
									<span>Мы в соц. сетях</span>
								</div>
								<ul class="socials">
									<li>
										<a href="#">
											<span>Facebook</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>Instagram</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>Pinterest</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<div class="popup-holder-content popup-holder-menu-content">
			<div class="popup popup-menu">
				<div class="popup-content popup-menu-content">
				</div>
				<a href="#" class="close-popup close-menu">
					<i class="icon-cancel"></i>
				</a>
			</div>
		</div>
		<div class="popup-holder-content popup-holder-catalog-content">
			<div class="popup popup-catalog">
				<div class="popup-content popup-catalog-content">
				</div>
				<a href="#" class="close-popup close-catalog">
					<i class="icon-cancel"></i>
				</a>
			</div>
		</div>
		<div class="popup-holder-content popup-holder-contacts-content">
			<div class="popup popup-contacts">
				<div class="popup-content popup-contacts-content">
					<div class="block contacts-block">
						<ul class="contacts">
							<li>
								<a href="tel:0800111111">
									<i class="icon-phone-call1"></i>
									<span class="text">
										<span>0 (800) 111-111</span>
									</span>
								</a>
							</li>
							<li>
								<a href="tel:0800222222">
									<i class="icon-phone-call1"></i>
									<span class="text">
										<span>0 (800) 222-222</span>
									</span>
								</a>
							</li>
							<li>
								<a href="tel:0800333333">
									<i class="icon-smartphone"></i>
									<span class="text">
										<span>0 (800) 333-333</span>
									</span>
								</a>
							</li>
							<li>
								<a href="tel:0800444444">
									<i class="icon-smartphone"></i>
									<span class="text">
										<span>0 (800) 444-444</span>
									</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="block messengers-block">
						<ul class="messengers">
							<li>
								<a href="#">
									<span class="img">
										<img class="lazy" data-src="images/telegram-min.webp" alt="">
									</span>
									<span class="caption">Telegram</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="img">
										<img class="lazy" data-src="images/whatsapp-min.webp" alt="">
									</span>
									<span class="caption">WhatsApp</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="img">
										<img class="lazy" data-src="images/viber-min.webp" alt="">
									</span>
									<span class="caption">Viber</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="block callback-block">
						<a href="#" class="callback open-popup open-callback">
							<i class="icon-phone-call"></i>
							<span>Перезвоним</span>
						</a>
					</div>
				</div>
				<a href="#" class="close-popup close-contacts">
					<i class="icon-cancel"></i>
				</a>
			</div>
		</div>
		<div class="popup-holder-content  popup-holder-callback-content">
			<div class="popup popup-callback">
				<div class="popup-content popup-callback-content">
					<div class="caption-popup">Обратный звонок:</div>
					<div class="description-popup">
						<p>Просто заполните форму ниже, и мы свяжемся с Вами в ближайшее время.</p>
					</div>
					<form action="#" class="for-form popup-form">
						<fieldset>
							<div class="row">
								<div>
									<input type="text" placeholder="Имя *">
								</div>
							</div>
							<div class="row">
								<div>
									<input type="text" placeholder="+38(___) ___-____" id="phone-callback">
								</div>
							</div>
							<div class="row">
								<button type="submit" class="send open-thanks">
								Отправить
								</button>
							</div>
						</fieldset>
					</form>
				</div>
				<a href="#" class="close-popup close-callback">
					<i class="icon-cancel"></i>
				</a>
			</div>
		</div>
		<div class="popup-holder-content  popup-holder-thanks-content">
			<div class="popup popup-thanks">
				<div class="popup-content popup-thanks-content">
					<div class="caption-popup">Спасибо!</div>
					<div class="description-popup">
						<p>Мы свяжемся с Вами в течение рабочего дня.</p>
					</div>
				</div>
				<a href="#" class="close-popup close-thanks">
					<i class="icon-cancel"></i>
				</a>
			</div>
		</div>
	</body>
</html>