{if $_modx->config.cultureKey != 'ua'}
  {set $content = $_modx->resource.localizator_content}
{else}
  {set $content = $_modx->resource.content}
{/if}
{set $time_read_article = $_modx->runSnippet('time_read_article',['content' => "{$content}"])}
{if $_modx->config.cultureKey != 'ua'}
{set $authors = $_modx->runSnippet(
'pdoResources',
[
'parents' => 282442,
'resources' => "999999999,{$_modx->resource.author}",
'level' => 0,
'tpl' => '@INLINE <a href="{$id | url}">{$pagetitle}</a>, ',
'tplLast' => '@INLINE <a href="{$id | url}">{$pagetitle}</a>',
'limit' => 0,
'cache' => 1,
'cacheTime' => 3600,
'hereClass' => 'active',
'leftJoin' => '{"localizator" : {"class" : "localizatorContent","alias" : "localizator","on" :
"localizator.resource_id = modResource.id"}}',
'select' => '{"localizator" : "modResource.*, localizator.*, modResource.id"}',
'where' => '{"localizator.key" : "'~ ('localizator_key' | option) ~'"}',
]
)}
{else}
{set $authors = $_modx->runSnippet(
'pdoResources',
[
'parents' => 282442,
'resources' => "999999999,{$_modx->resource.author}",
'level' => 0,
'tpl' => '@INLINE <a href="{$id | url}">{$pagetitle}</a>, ',
'tplLast' => '@INLINE <a href="{$id | url}">{$pagetitle}</a>',
'limit' => 0,
'cache' => 1,
'cacheTime' => 3600,
'hereClass' => 'active'
]
)}
{/if}
<!DOCTYPE html>
<html>
{include 'head'}
<body class="popup-holder popup-holder-menu popup-holder-catalog popup-holder-contacts popup-holder-callback popup-holder-help popup-holder-otherphones popup-holder-thanks" id="totop">
<div id="wrapper">
  {include 'topslider'}
  {include 'header'}
  <main role="main" id="main">
    {include 'breadcrumbs'}
    <section class="section- section-content">
      <div class="container">
        {if $_modx->resource.parent == 162 || $_modx->resource.parent == 163} {*если ресурс из блога или новостей*}
          <div class="block block-info">
            {if $authors?}
            <div class="date cell">
              <i class="icon-user"></i>
              <span>{$authors}</span>
            </div>
            {/if}
            <div class="date cell">
              <i class="icon-clock"></i>
              <span>{$time_read_article}</span>
            </div>

            <div class="date cell">
              <i class="icon-calendar"></i>
              <span>{$_modx->resource.publishedon | date_format : '%d.%m.%Y'}</span>
            </div>
            <div class="date cell">
              <i class="icon-pencil"></i>
              <span>{$_modx->resource.editedon | date_format:"%d.%m.%Y" }</span>
            </div>
            <div class="view cell">
              <i class="icon-eye"></i>
              <span>
                {*$_modx->lexicon('article_views')*}
                {$_modx->runSnippet('!siteStatistics',['resource' => "{$_modx->resource.id}"])}
              </span>
            </div>
            {*$_modx->runSnippet('!xLike',['tpl' => 'tplXLike'])*}
            {*$_modx->runSnippet('!SimpleRating',['tpl' => 'tplSimpleRatingPage'])*}
          </div>
        {/if}
        <div class="content">
          {$content}
        </div>

        {if $_modx->resource.parent == 162 || $_modx->resource.parent == 163} {*если ресурс из блога или новостей*}
        <div class="block block-info">
          {if $authors?}
          <div class="date cell">
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_inline_share_toolbox"></div>
          </div>
          {/if}
          {$_modx->runSnippet('!SimpleRating',['tpl' => 'tplSimpleRatingPage'])}
        </div>
        {/if}


      </div>
    </section>
    
    {if $_modx->resource.parent == 162 || $_modx->resource.parent == 163}
    <section class="section- section-reviews bg-cbg" id="reviews">
      <div class="container">
        <div class="section-caption">
          <div class="caption">
            <i class="icon-chat"></i>
            <span>{$_modx->lexicon('item_review')} <span class="number">{$ticketcount == ''? '': $ticketcount}</span></span>
          </div>
        </div>
        {$_modx->runSnippet(
        '!TicketComments',
        [
        'allowGuest' => '1',
        'tplComments' => 'tplTicketsCommentWrapperItem',
        'tplCommentFormGuest' => 'tplTicketsCommentFormSite',
        'tplCommentForm' => 'tplTicketsCommentFormLogin',
        'tplCommentAuth' => 'tplTicketsCommentOneAuthSite',
        'formBefore' => 0,
        'autoPublish' => 0,
        'autoPublishGuest' => 0,
        'enableCaptcha' => 0
        ]
        )}
      </div>
    </section>
    {/if}

    {if $_modx->resource.parent == 162 || $_modx->resource.parent == 163} {*если ресурс из блога или новостей показываем привязанные товары*}
      {if $_modx->config.cultureKey != 'ua'}
        {set $rel_items = $_modx->runSnippet(
          'msProducts',
          [
            'tpl'=>'tplProduct',
            'includeThumbs' => 'small,small_mobile',
            'parents' => 160,
            'resources' => "1,{$_modx->resource.related_products}",
            'includeTVs' => 'video',
            'sortby' => 'RAND()',
            'depth' => 5,
            'showLog' => 0,
            'limit' => 20,
            'showZeroPrice' => 1,
            'leftJoin' => '{"localizator" : {"class" : "localizatorContent","alias" : "localizator","on" : "localizator.resource_id = msProduct.id"}}',
            'select' => '{ "localizator" : "msProduct.*, localizator.*, msProduct.id" }',
            'where' => '{ "localizator.key" : "' ~ ('localizator_key' | option) ~ '"}',
          ]
        )}
      {else}
        {set $rel_items = $_modx->runSnippet(
        'msProducts',
          [
          'tpl'=>'tplProduct',
          'includeThumbs' => 'small,small_mobile',
          'parents' => 160,
          'resources' => "1,{$_modx->resource.related_products}",
          'includeTVs' => 'video',
          'sortby' => 'RAND()',
          'depth' => 5,
          'showLog' => 0,
          'limit' => 20,
          'showZeroPrice' => 1,
          ]
        )}
      {/if}
      {if $rel_items?}
        <section class="section- section-products bg-cbg">
          <div class="container">
            <div class="section-caption">
              <div class="caption">
                <span>{$_modx->lexicon('related_products')}:</span>
              </div>
            </div>
            <div class="products-block">
              <ul class="products responsive-products">
                {$rel_items}
              </ul>
            </div>
          </div>
        </section>
      {/if}
    {/if}

    {if $_modx->resource.parent == 163} {*другие новости*}
      {if $_modx->config.cultureKey != 'ua'}
        {set $other_news = $_modx->runSnippet(
        'pdoResources',
          [
          'elementClass' => 'modSnippet',
          'parents' => "{$_modx->resource.parent}",
          'resources' => "-{$_modx->resource.id}",
          'tpl' => 'tplNews',
          'depth' => 0,
          'limit' => 4,
          'sortby' => 'publishedon',
          'sortdir' => 'DESC',
          'tvPrefix' => '',
          'includeContent' => 1,
          'leftJoin' => '{"localizator" : {"class" : "localizatorContent","alias" : "localizator","on" :
          "localizator.resource_id = modResource.id"}}',
          'select' => '{"localizator" : "modResource.*, localizator.*, modResource.id"}',
          'where' => '{"localizator.key" : "'~ ('localizator_key' | option) ~'"}',
          ]
        )}
      {else}
        {set $other_news = $_modx->runSnippet(
        'pdoResources',
          [
          'elementClass' => 'modSnippet',
          'parents' => "{$_modx->resource.parent}",
          'resources' => "-{$_modx->resource.id}",
          'tpl' => 'tplNews',
          'depth' => 0,
          'limit' => 4,
          'sortby' => 'publishedon',
          'sortdir' => 'DESC',
          'tvPrefix' => '',
          'includeContent' => 1,
          'includeTVs' => 'img'
          ]
        )}
      {/if}
      {if $other_news?}
        <section class="section- section-blogs-news bg-cbg">
          <div class="container">
            <div class="column column50">
              <div class="section-caption">
                <div class="caption">
                  <span>{$_modx->lexicon('other_news_title')}</span>
                </div>
                <div class="seeall-block">
                  <a href="{$_modx->makeUrl(163)}" class="seeall">
                    <span>{$_modx->lexicon('all_news')}</span>
                  </a>
                </div>
              </div>
              <div class="news-block">
                <ul class="news">
                  {$other_news}
                </ul>
              </div>
            </div>
          </div>
        </section>
      {/if}
    {/if}

    {if $_modx->resource.parent == 162} {*другие статьи*}
      {if $_modx->config.cultureKey != 'ua'}
        {set $other_blog_articles = $_modx->runSnippet(
        'pdoResources',
          [
          'elementClass' => 'modSnippet',
          'parents' => "{$_modx->resource.parent}",
          'resources' => "-{$_modx->resource.id}",
          'tpl' => 'tplBlog',
          'depth' => 0,
          'limit' => 4,
          'sortby' => 'publishedon',
          'sortdir' => 'DESC',
          'tvPrefix' => '',
          'includeContent' => 1,
          'includeTVs' => 'img',
          'leftJoin' => '{"localizator" : {"class" : "localizatorContent","alias" : "localizator","on" :
          "localizator.resource_id = modResource.id"}}',
          'select' => '{"localizator" : "modResource.*, localizator.*, modResource.id"}',
          'where' => '{"localizator.key" : "'~ ('localizator_key' | option) ~'"}',
          ]
        )}
      {else}
        {set $other_blog_articles = $_modx->runSnippet(
        'pdoResources',
          [
          'elementClass' => 'modSnippet',
          'parents' => "{$_modx->resource.parent}",
          'resources' => "-{$_modx->resource.id}",
          'tpl' => 'tplBlog',
          'depth' => 0,
          'limit' => 4,
          'sortby' => 'publishedon',
          'sortdir' => 'DESC',
          'tvPrefix' => '',
          'includeContent' => 1,
          'includeTVs' => 'img'
          ]
        )}
      {/if}
      {if $other_blog_articles?}
        <section class="section- section-blogs">
          <div class="container">
            <div class="section-caption">
              <div class="caption">
                <span>{$_modx->lexicon('other_article_title')}</span>
              </div>
              <div class="seeall-block">
                <a href="{$_modx->makeUrl(162)}" class="seeall">
                  <span>{$_modx->lexicon('all_articles')}</span>
                </a>
              </div>
            </div>
            <div class="blogs-block">
              <ul class="blogs">
                {$other_blog_articles}
              </ul>
            </div>
          </div>
        </section>
      {/if}
    {/if}

    <section class="section- section-prefooter">
    </section>
  </main>
  {include 'footer'}
</div>
{include 'popup'}
{include 'script'}

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-638f8603bf9eb3bf"></script>

</body>
</html>