{if $_modx->config.cultureKey != 'ua'}
  {set $products = $_modx->runSnippet('!mFilter2Number',
  [
    'element' => 'msProducts',
    'paginator' => 'pdoPage',
    'parents' => "{$_modx->resource.parent_id?:'160'}",
    'limit' => 12,
    'maxLimit' => 0,
    'depth' => 6,
    'showEmptyFilters' => 0,
    'suggestionsSliders' => 1,
    'tplWrapper' => 'tplOutresult',
    'tplOuter' => 'tplMfilter2OuterBrand',

    'filters' => '
    ms|price:number,
    ms|vendor:vendors,
    parent:categories,
    '~$_modx->runSnippet('categoryOptions')~'',

    'tplFilter.outer.default' => 'tplMfilter2FilterOuter',
    'tplFilter.row.default' => 'tplMfilter2FilterCheckbox',
    'tplFilter.outer.ms|price' => 'tplMfilter2Slider',
    'tplFilter.row.ms|price' => 'tplMfilter2Number',
    'aliases' => 'ms|vendor==vendor,'~$_modx->runSnippet('categoryOptionsAlias')~'',
    'suggestions' => 1,
    'tpls' => 'tplProduct',
    'sortby' => 'menuindex',
    'sortdir' => 'ASC',
    'includeThumbs' => 'small,small_mobile',
    'includeTVs' => 'video',
    'includeContent' => 1,
    'tvPrefix' => '',
    'class' => 'msProduct',
    'tplPageWrapper' => '@INLINE <ul class="pagination">{$prev}{$pages}{$next}</ul>',
    'tplPage' => '@INLINE <li><a href="{$href}" title="{$pageNo}">{$pageNo}</a></li>',
    'tplPageActive' => '@INLINE <li class="active"><a href="#">{$pageNo}</a></li>',
    'tplPageFirst' => '@INLINE  ',
    'tplPageFirstEmpty' => '@INLINE  ',
    'tplPageLast' => '@INLINE  ',
    'tplPageLastEmpty' => '@INLINE  ',
    'tplPagePrev' => '@INLINE <li><a href="{$href}"><i class="icon-left-chevron"></i></a></li>',
    'tplPageNext' => '@INLINE <li><a href="{$href}"><i class="icon-right-chevron"></i></a></li>'
    'tplPagePrevEmpty' => '@INLINE  <li class="disabled"><a href="#" ><i class="icon-left-chevron"></i></a></li>',
    'tplPageNextEmpty' => '@INLINE  <li class="disabled"><a href="#" ><i class="icon-right-chevron"></i></a></li>',
    'leftJoin' => '{"localizator" : {"class" : "localizatorContent","alias" : "localizator","on" : "localizator.resource_id = msProduct.id"}}',
    'select' => '{ "localizator" : "msProduct.*, localizator.*, msProduct.id" }',
    'where' => '{ "localizator.key" : "' ~ ('localizator_key' | option) ~ '","Vendor.name":"'~$_modx->resource.pagetitle~'"}'
  ]
)}
{else}
  {set $products = $_modx->runSnippet('!mFilter2Number',
  [
    'element' => 'msProducts',
    'paginator' => 'pdoPage',
    'parents' => "{$_modx->resource.parent_id?:'160'}",
    'limit' => 12,
    'maxLimit' => 0,
    'depth' => 6,
    'showEmptyFilters' => 0,
    'suggestionsSliders' => 1,
    'tplWrapper' => 'tplOutresult',
    'tplOuter' => 'tplMfilter2OuterBrand',

    'filters' => '
    ms|price:number,
    ms|vendor:vendors,
    parent:categories,
    '~$_modx->runSnippet('categoryOptions')~'',

    'tplFilter.outer.default' => 'tplMfilter2FilterOuter',
    'tplFilter.row.default' => 'tplMfilter2FilterCheckbox',
    'tplFilter.outer.ms|price' => 'tplMfilter2Slider',
    'tplFilter.row.ms|price' => 'tplMfilter2Number',
    'aliases' => 'ms|vendor==vendor,'~$_modx->runSnippet('categoryOptionsAlias')~'',
    'suggestions' => 1,
    'where' => '[{"Vendor.name":"'~$_modx->resource.pagetitle~'"}]',
    'tpls' => 'tplProduct',
    'sortby' => 'menuindex',
    'sortdir' => 'ASC',
    'includeThumbs' => 'small,small_mobile',
    'includeTVs' => 'video',
    'includeContent' => 1,
    'tvPrefix' => '',
    'class' => 'msProduct',
    'tplPageWrapper' => '@INLINE <ul class="pagination">{$prev}{$pages}{$next}</ul>',
    'tplPage' => '@INLINE <li><a href="{$href}" title="{$pageNo}">{$pageNo}</a></li>',
    'tplPageActive' => '@INLINE <li class="active"><a href="#">{$pageNo}</a></li>',
    'tplPageFirst' => '@INLINE  ',
    'tplPageFirstEmpty' => '@INLINE  ',
    'tplPageLast' => '@INLINE  ',
    'tplPageLastEmpty' => '@INLINE  ',
    'tplPagePrev' => '@INLINE <li><a href="{$href}"><i class="icon-left-chevron"></i></a></li>',
    'tplPageNext' => '@INLINE <li><a href="{$href}"><i class="icon-right-chevron"></i></a></li>'
    'tplPagePrevEmpty' => '@INLINE  <li class="disabled"><a href="#" ><i class="icon-left-chevron"></i></a></li>',
    'tplPageNextEmpty' => '@INLINE  <li class="disabled"><a href="#" ><i class="icon-right-chevron"></i></a></li>'
  ]
  )}
{/if}
<!DOCTYPE html>
<html>
{include 'head'}
<body class="popup-holder popup-holder-menu popup-holder-catalog popup-holder-contacts popup-holder-callback popup-holder-help popup-holder-otherphones popup-holder-thanks popup-holder-filter" id="totop">
<div id="wrapper">
  {include 'topslider'}
  {include 'header'}
  <main role="main" id="main">
    {include 'breadcrumbs'}
    {if $products?}
      <section class="section- section-filter">
        {$products}
      </section>
    {else}
      {include 'category_nothing_found'}
    {/if}
    {if !$.get.page}
      <section class="section- section-content" id="content">
        <div class="container">
          <div class="content">
            {if $_modx->config.cultureKey != 'ru'}
              {$_modx->resource.localizator_content}
            {else}
              {$_modx->resource.content}
            {/if}
          </div>
        </div>
      </section>
    {/if}
    {include 'seen_it_before'}
    <section class="section- section-prefooter">
    </section>
  </main>
  {include 'footer'}
</div>
{include 'popup'}
{include 'script'}
{include 'ajax_init_on_page'}
</body>
</html>