<!DOCTYPE html>
<html>
{include 'head'}
<body class="popup-holder popup-holder-menu popup-holder-catalog popup-holder-contacts popup-holder-callback popup-holder-help popup-holder-otherphones popup-holder-thanks" id="totop">
<div id="wrapper">
    {include 'topslider'}
    {include 'header'}
    <main role="main" id="main">
        {include 'breadcrumbs'}
        <section class="section section-form-color">
            <div class="container">
                <div class="content">
                    <p>
                        Мы гарантируем качество наших автокрасок и продуктов для кузовного ремонта, изготовленных по
                        индивидуальному заказу. Найдите свой цвет прямо сейчас!
                    </p>
                </div>
                <form action="" class="form form-color" id="carform">
                    <fieldset>
                        <div class="row center">
                            <div class="block column column25">
                                <label for="cars-year">Год:</label>
                                <select name="cars-year" id="cars-year" form="carform carform-year">
                                    <option value="" selected="true" disabled="disabled">Выберите год</option>
                                    <option value="2022">2022</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                </select>
                            </div>
                            <div class="block column column25">
                                <label for="cars-brand">Бренд:</label>
                                <select name="cars-brand" id="cars-brand" form="carform carform-brand">
                                    <option value="" selected="true" disabled="disabled">Выберите бренд</option>
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                            <div class="block column column25">
                                <label for="cars-model">Модель:</label>
                                <select name="cars-model" id="cars-model" form="carform carform-model">
                                    <option value="" selected="true" disabled="disabled">Выберите модель</option>
                                    <option value="A1">A1</option>
                                    <option value="A2">A2</option>
                                    <option value="A3">A3</option>
                                    <option value="A4">A4</option>
                                </select>
                            </div>
                            <div class="block column column25">
                                <button class="submit">
						  <span>
							Подобрать
						  </span>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
        <hr>
        {if $_modx->resource.id == 29312}
            {include 'main_catalog_autobrands'}
        {else}
            {if $_modx->config.cultureKey != 'ru'}
                {set $items = $_modx->runSnippet(
                'pdoResources',
                [
                    'elementClass' => 'modSnippet',
                    'parents' => "{$_modx->resource.id}",
                    'tpl' => 'tplManufacturer',
                    'depth' => 0,
                    'limit' => 0,
                    'sortby' => 'publishedon',
                    'sortdir' => 'ASC',
                    'tvPrefix' => '',
                    'includeContent' => 1,
                    'leftJoin' => '{"localizator" : {"class" : "localizatorContent","alias" : "localizator","on" :
                    "localizator.resource_id = modResource.id"}}',
                    'select' => '{"localizator" : "modResource.*, localizator.*, modResource.id"}',
                    'where' => '{"localizator.key" : "'~ ('localizator_key' | option) ~'"}',
                ]
                )}
            {else}
                {set $items = $_modx->runSnippet(
                'pdoResources',
                [
                    'elementClass' => 'modSnippet',
                    'parents' => "{$_modx->resource.id}",
                    'tpl' => 'tplManufacturer',
                    'depth' => 0,
                    'limit' => 0,
                    'sortby' => 'publishedon',
                    'sortdir' => 'ASC',
                    'tvPrefix' => '',
                    'includeContent' => 1,
                ]
                )}
            {/if}

            {if $items?}
                <section class="section- section-">
                    <div class="container">
                        <div class="colors-brand-block">
                            <ul class="colors-brand">
                                {$items}
                            </ul>
                        </div>
                    </div>
                </section>
            {/if}
        {/if}

        <section class="section- section-content">
            <div class="container">
                <div class="content">
                    {if $_modx->config.cultureKey != 'ru'}
                        {$_modx->resource.localizator_content}
                    {else}
                        {$_modx->resource.content}
                    {/if}
                </div>
            </div>
        </section>
        <section class="section- section-prefooter">
        </section>
    </main>
    {include 'footer'}
</div>
{include 'popup'}
{include 'script'}
</body>
</html>