<!DOCTYPE html>
<html>
{include 'head'}
	<!--<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Project Title</title>
		<link rel="preload" href="/tpl/fonts/Commissioner-Light.woff" as="font" type="font/woff" crossorigin="anonymous">
		<link rel="preload" href="/tpl/fonts/Commissioner-Medium.woff" as="font" type="font/woff" crossorigin="anonymous">
		<link rel="preload" href="/tpl/fonts/Commissioner-Bold.woff" as="font" type="font/woff" crossorigin="anonymous">
		<link rel="preload" href="/tpl/fonts/Commissioner-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">
		<link rel="preload" href="/tpl/fonts/icomoon.ttf?4kmysk" as="font" type="font/ttf" crossorigin="anonymous">
		<link rel="icon" type="image/vnd.microsoft.icon" href="/tpl/images/favicon.ico">
		<link rel="SHORTCUT ICON" href="/tpl/images/favicon.ico">
		<link media="all" rel="stylesheet" href="/tpl/css/main.css">
		<link media="all" rel="stylesheet" href="/tpl/css/engine.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/tpl/js/jquery-3.2.1.min.js"><\/script>')</script>
		<script src="/tpl/js/jquery.main.js"></script>
		<script src="/tpl/js/jquery.engine.js"></script>
	</head>-->
	<body class="popup-holder popup-holder-menu popup-holder-catalog popup-holder-contacts popup-holder-callback popup-holder-help popup-holder-otherphones popup-holder-thanks" id="totop">
		<div id="wrapper">
			{include 'topslider'}
			{include 'header'}
			<main role="main" id="main">
				{include 'breadcrumbs'}
        <section class="section section-form-color">
          <div class="container">
            <div class="content">
              <p>
                Мы гарантируем качество наших автокрасок и продуктов для кузовного ремонта, изготовленных по индивидуальному заказу. Найдите свой цвет прямо сейчас!
              </p>
            </div>
            <form action="" class="form form-color" id="carform">
              <fieldset>
                <div class="row center">
                  <div class="block column column25">
                    <label for="cars-year">Год:</label>
                    <select name="cars-year" id="cars-year" form="carform carform-year">
                      <option value="" selected="true" disabled="disabled">Выберите год</option>
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2020">2020</option>
                      <option value="2019">2019</option>
                    </select>
                  </div>
                  <div class="block column column25">
                    <label for="cars-brand">Бренд:</label>
                    <select name="cars-brand" id="cars-brand" form="carform carform-brand">
                      <option value="" selected="true" disabled="disabled">Выберите бренд</option>
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
                  </div>
                  <div class="block column column25">
                    <label for="cars-model">Модель:</label>
                    <select name="cars-model" id="cars-model" form="carform carform-model">
                      <option value="" selected="true" disabled="disabled">Выберите модель</option>
                      <option value="A1">A1</option>
                      <option value="A2">A2</option>
                      <option value="A3">A3</option>
                      <option value="A4">A4</option>
                    </select>
                  </div>
                  <div class="block column column25">
                    <button class="submit">
                      <span>
                        Подобрать
                      </span>
                    </button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </section>

        <hr>

				<!--<section class="section- section-category">
					<div class="container">
						<div class="category-block">
							<ul class="category">
								<li data-aos="zoom-in-up">
									<div class="inner">
										<a href="#" class="caption">
											<span class="img">
												<img class="lazy" src="/tpl/images/cat1-min.webp" alt="">
											</span>
											<span>Краска для Audi</span>
										</a>
										<ul>
											<li>
												<a href="#">
													<span>Краска для Audi A1</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для Audi A2</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для Audi A3</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для Audi A4</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для Audi A5</span>
												</a>
											</li>
										</ul>
										<a href="#" class="more">
											<span>Смотреть все</span>
											<i class="icon-right-chevron"></i>
										</a>
									</div>
								</li>
								<li data-aos="zoom-in-up">
									<div class="inner">
										<a href="#" class="caption">
											<span class="img img-empty">
												<i class="icon-picture"></i>
											</span>
											<span>Краска для WV</span>
										</a>
										<div class="description">
											<p>Lorem ipsum — классический текст-«рыба» (условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы). Является искажённым отрывком из философского трактата Марка Туллия Цицерона «О пределах добра и зла», написанного в 45 году до н. э. на латинском языке, обнаружение сходства приписывается Ричарду МакКлинтоку[1]. Распространился в 1970-х годах из-за трафаретов компании Letraset, a затем — из-за того, что служил примером текста в программе PageMaker.</p>
										</div>
									</div>
								</li>
								<li data-aos="zoom-in-up">
									<div class="inner">
										<a href="#" class="caption">
											<span>Краска для BMW</span>
										</a>
										<ul>
											<li>
												<a href="#">
													<span>Краска для BMW 1</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для BMW 2</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для BMW 3</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для BMW 3</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для BMW 5</span>
												</a>
											</li>
										</ul>
										<a href="#" class="more">
											<span>Смотреть все</span>
											<i class="icon-right-chevron"></i>
										</a>
									</div>
								</li>
								<li data-aos="zoom-in-up">
									<div class="inner">
										<a href="#" class="caption">
											<span class="img">
												<img class="lazy" src="/tpl/images/cat1-min.webp" alt="">
											</span>
											<span>Краска для BMW Alpine</span>
										</a>
										<ul>
											<li>
												<a href="#">
													<span>Краска для BMW Alpine 1</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для BMW Alpine 2</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для BMW Alpine 5</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для BMW Alpine 7</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span>Краска для BMW Alpine 9</span>
												</a>
											</li>
										</ul>
										<a href="#" class="more">
											<span>Смотреть все</span>
											<i class="icon-right-chevron"></i>
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>

				<section class="section- section-category-sub">
					<div class="container">
						<div class="category-sub-block">
							<ul class="category-sub">
								<li data-aos="zoom-in-up">
									<div class="inner">
										<a href="#" class="img">
											<img  class="lazy" src="/tpl/images/cat1-min.webp" alt="">
											<span class="number">
												Товаров: <span>123</span>
											</span>
										</a>
										<div class="text">
											<a href="#" class="caption">
												Краска для Audi A1
											</a>
											<div class="price">
												от 1234 грн
											</div>
											<div class="description">
												<p>Lorem ipsum — классический текст-«рыба» (условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы). Является искажённым отрывком из философского трактата Марка Туллия Цицерона «О пределах добра и зла», написанного в 45 году до н. э. на латинском языке, обнаружение сходства приписывается Ричарду МакКлинтоку[1].</p>
											</div>
										</div>
									</div>
								</li>
								<li data-aos="zoom-in-up">
									<div class="inner">
										<a href="#" class="img img-empty">
											<i class="icon-picture"></i>
											<span class="number">
												Товаров: <span>456</span>
											</span>
										</a>
										<div class="text">
											<a href="#" class="caption">
												Краска для Audi A2
											</a>
											<div class="price">
												от 2345 грн
											</div>
											<div class="description">
												<p>Lorem ipsum — классический текст-«рыба» (условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы). Является искажённым отрывком из философского трактата Марка Туллия Цицерона «О пределах добра и зла», написанного в 45 году до н. э. на латинском языке, обнаружение сходства приписывается Ричарду МакКлинтоку[1].</p>
											</div>
										</div>
									</div>
								</li>
								<li data-aos="zoom-in-up">
									<div class="inner">
										<a href="#" class="img">
											<img  class="lazy" src="/tpl/images/cat3-min.webp" alt="">
											<span class="number">
												Товаров: <span>345</span>
											</span>
										</a>
										<div class="text">
											<a href="#" class="caption">
												Краска для Audi A3
											</a>
											<div class="price">
												от 5677 грн
											</div>
											<div class="description">
												<p>Lorem ipsum — классический текст-«рыба» (условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы). Является искажённым отрывком из философского трактата Марка Туллия Цицерона «О пределах добра и зла», написанного в 45 году до н. э. на латинском языке, обнаружение сходства приписывается Ричарду МакКлинтоку[1].</p>
											</div>
										</div>
									</div>
								</li>
								<li data-aos="zoom-in-up">
									<div class="inner">
										<a href="#" class="img">
											<img  class="lazy" src="/tpl/images/cat1-min.webp" alt="">
											<span class="number">
												Товаров: <span>456</span>
											</span>
										</a>
										<div class="text">
											<a href="#" class="caption">
												Краска для Audi A4
											</a>
											<div class="price">
												от 7890 грн
											</div>
											<div class="description">
												<p>Lorem ipsum — классический текст-«рыба» (условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы). Является искажённым отрывком из философского трактата Марка Туллия Цицерона «О пределах добра и зла», написанного в 45 году до н. э. на латинском языке, обнаружение сходства приписывается Ричарду МакКлинтоку[1].</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>-->

       <!-- <section class="section- section-products">
          <div class="container">
            <div class="products-block">
              <ul class="products">
                <li data-aos="zoom-in-up">
                  <div class="inner">
                    <div class="feature-block scrollbar-dynamic">
                      <div class="feature">
                        <div class="row">
                          <p>Lorem ipsum — классический текст-«рыба» (условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы). Является искажённым отрывком из философского трактата Марка Туллия Цицерона «О пределах добра и зла», написанного в 45 году до н. э. на латинском языке, обнаружение сходства приписывается Ричарду МакКлинтоку[1].</p>
                        </div>
                        <div class="row">
                          <span>Диагональ экрана:</span><span>15,6''</span>
                        </div>
                        <div class="row">
                          <span>Разрешение экрана:</span><span>1920x1080 Full HD</span>
                        </div>
                        <div class="row">
                          <span>Тип матрицы:</span><span>IPS</span>
                        </div>
                        <div class="row">
                          <span>Частота обновления экрана:</span><span>60 Гц</span>
                        </div>
                        <div class="row">
                          <span>Модель центрального процессора:</span><span>Ryzen 5 3550H</span>
                        </div>
                        <div class="row">
                          <span>Количество ядер:</span><span>4 ядра</span>
                        </div>
                        <div class="row">
                          <span>Частота центрального процессора:</span><span>2,1 (3,7) ГГц</span>
                        </div>
                        <div class="row">
                          <span>Объем ОЗУ:</span><span>8 ГБ</span>
                        </div>
                        <div class="row">
                          <span>Тип оперативной памяти:</span><span>DDR4</span>
                        </div>
                        <div class="row">
                          <span>Объем накопителя:</span><span>1 ТБ</span>
                        </div>
                        <div class="row">
                          <span>Тип накопителя:</span><span>HDD</span>
                        </div>
                        <div class="row">
                          <span>Производитель видеокарты:</span><span>Nvidia</span>
                        </div>
                        <div class="row">
                          <span>Модель графического процессора:</span><span>GeForce GTX 1650</span>
                        </div>
                        <div class="row">
                          <span>Объем видео памяти:</span><span>4 ГБ</span>
                        </div>
                        <div class="row">
                          <span>Тип видеокарты:</span><span>Дискретный</span>
                        </div>
                        <div class="row">
                          <span>Тип памяти видеокарты:</span><span>GDDR5</span>
                        </div>
                        <div class="row">
                          <span>Операционная система:</span><span>UEFI</span>
                        </div>
                        <div class="row">
                          <span>Оптический привод:</span><span>Без дисковода</span>
                        </div>
                        <div class="row">
                          <span>Стандарты Wi-Fi:</span><span>802.11 ac</span>
                        </div>
                        <div class="row">
                          <span>Bluetooth:</span><span>Версия 4.2</span>
                        </div>
                        <div class="row">
                          <span>HDMI:</span><span>Есть</span>
                        </div>
                        <div class="row">
                          <span>Количество USB 2.0:</span><span>1 шт.</span>
                        </div>
                        <div class="row">
                          <span>Количество USB 3.1:</span><span>2 шт.</span>
                        </div>
                        <div class="row">
                          <span>Количество USB 3.1 тип C:</span><span>1 шт.</span>
                        </div>
                        <div class="row">
                          <span>Время автономной работы:</span><span>До 10 ч</span>
                        </div>
                        <div class="row">
                          <span>Особенности:</span><span>Bluetooth, HDMI, Подсветка клавиатуры</span>
                        </div>
                        <div class="row">
                          <span>Толщина, мм:</span><span>25,9 мм</span>
                        </div>
                        <div class="row">
                          <span>Ширина, мм:</span><span>363,4 мм</span>
                        </div>
                        <div class="row">
                          <span>Глубина, мм:</span><span>255 мм</span>
                        </div>
                        <div class="row">
                          <span>Вес:</span><span>2,3 кг</span>
                        </div>
                        <div class="row">
                          <span>Материал корпуса:</span><span>Пластик</span>
                        </div>
                        <div class="row">
                          <span>Цвет производителя:</span><span>Черный</span>
                        </div>
                        <div class="row">
                          <span>Гарантийный срок:</span><span>1 год</span>
                        </div>
                        <div class="row">
                          <span>Комплектация:</span><span>Ноутбук, зарядное устройство, документация</span>
                        </div>
                        <div class="row">
                          <span>Страна производства:</span><span>Китай</span>
                        </div>
                        <div class="row">
                          <span>Бренд:</span><span>Acer</span>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="img">
                      <span class="video-block">
                        <span class="video">
                          <i class="icon-next-2"></i>
                        </span>
                      </span>
                      <span class="status-block">
                        <span class="status">
                          <span>Новинки</span>
                        </span>
                        <span class="status">
                          <span>Скидка</span>
                        </span>
                        <span class="status">
                          <span>Хит продаж</span>
                        </span>
                      </span>
                      <img class="lazy" src="/tpl/images/cat1-min.webp" alt="">
                    </a>
                    <div class="block links-block">
                      <ul class="links">
                        <li>
                          <a href="#" class="">
                            <i class="icon-bar-chart"></i>
                            <span class="foradd">В сравнение</span>
                            <i class="ifadd icon-cancel"></i>
                            <span class="ifadd">Из сравнения</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="">
                            <i class="icon-heart"></i>
                            <span class="foradd">В избранное</span>
                            <i class="ifadd icon-cancel"></i>
                            <span class="ifadd">Из избранного</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon-speech-bubble-5"></i>
                            <span>15</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon-star"></i>
                            <span>4.7</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="text">
                      <a href="#" class="caption">Краска для Audi A1 Nitro 5 AN515-43 (NH.Q6ZEU.012) Obsidian Black</a>
                      <div class="block vendor-avail-block">
                        <div class="vendor-block">
                          <div class="vendor">
                            Артикул: <span>1234556</span>
                          </div>
                        </div>
                        <div class="avail-block">
                          <div class="avail">
                            <i class="icon-checked-1"></i>
                            <span>В наличии</span>
                          </div>
                        </div>
                      </div>
                      <div class="description">
                        <p>Экран 14" IPS (1920x1080) Full HD, матовый / Intel Core i5-10210U (1.6 - 4.2 ГГц) / RAM 8 ГБ / SSD 512 ГБ / Intel UHD Graphics / без ОД / Wi-Fi / Bluetooth / веб-камера / без ОС / 1.6 кг / серебристый</p>
                        <span class="more">
                          <i class="icon-information"></i>
                          <i class="icon-cancel"></i>
                        </span>
                      </div>
                      <div class="block price-number-buy-block">
                        <div class="price-block">
                          <div class="price old">
                            <span>12345 грн</span>
                          </div>
                          <div class="price">
                            <span>10357 грн</span>
                          </div>
                        </div>
                        <div class="number-block">
                          <div class="number quantity">
                            <input class="numeral" type="number" min="1" step="1" value="1">
                          </div>
                        </div>
                        <div class="buy-block">
                          <button class="buy">
                          <span>Купить</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="notavailable" data-aos="zoom-in-up">
                  <div class="inner">
                    <div class="feature-block scrollbar-dynamic">
                      <div class="feature">
                        <div class="row">
                          <span>Диагональ экрана:</span><span>15,6''</span>
                        </div>
                        <div class="row">
                          <span>Разрешение экрана:</span><span>1920x1080 Full HD</span>
                        </div>
                        <div class="row">
                          <span>Тип матрицы:</span><span>IPS</span>
                        </div>
                        <div class="row">
                          <span>Частота обновления экрана:</span><span>60 Гц</span>
                        </div>
                        <div class="row">
                          <span>Модель центрального процессора:</span><span>Ryzen 5 3550H</span>
                        </div>
                        <div class="row">
                          <span>Количество ядер:</span><span>4 ядра</span>
                        </div>
                        <div class="row">
                          <span>Частота центрального процессора:</span><span>2,1 (3,7) ГГц</span>
                        </div>
                        <div class="row">
                          <span>Объем ОЗУ:</span><span>8 ГБ</span>
                        </div>
                        <div class="row">
                          <span>Тип оперативной памяти:</span><span>DDR4</span>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="img">
                      <span class="status-block">
                        <span class="status">
                          <span>Новинки</span>
                        </span>
                        <span class="status">
                          <span>Скидка</span>
                        </span>
                        <span class="status">
                          <span>Хит продаж</span>
                        </span>
                      </span>
                      <img class="lazy" src="/tpl/images/cat2-min.webp" alt="">
                    </a>
                    <div class="block links-block">
                      <ul class="links">
                        <li>
                          <a href="#" class="add">
                            <i class="icon-bar-chart"></i>
                            <span class="foradd">В сравнение</span>
                            <i class="ifadd icon-cancel"></i>
                            <span class="ifadd">Из сравнения</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="add">
                            <i class="icon-heart"></i>
                            <span class="foradd">В избранное</span>
                            <i class="ifadd icon-cancel"></i>
                            <span class="ifadd">Из избранного</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon-speech-bubble-5"></i>
                            <span>15</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon-star"></i>
                            <span>4.7</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="text">
                      <a href="#" class="caption">Краска для Audi A1 Obsidian Black</a>
                      <div class="block vendor-avail-block">
                        <div class="vendor-block">
                          <div class="vendor">
                            Артикул: <span>1234556</span>
                          </div>
                        </div>
                        <div class="avail-block">
                          <div class="avail">
                            <i class="icon-checked-1"></i>
                            <span>Нет в наличии</span>
                          </div>
                        </div>
                      </div>
                      <div class="description">
                        <p>Экран 14" IPS (1920x1080) Full HD, матовый / Intel Core i5-10210U (1.6 - 4.2 ГГц) / RAM 8 ГБ / SSD 512 ГБ / Intel UHD Graphics / без ОД / Wi-Fi / Bluetooth / веб-камера / без ОС / 1.6 кг / серебристый</p>
                        <span class="more">
                          <i class="icon-information"></i>
                          <i class="icon-cancel"></i>
                        </span>
                      </div>
                      <div class="block price-number-buy-block">
                        <div class="price-block">
                          <div class="price old">
                            <span>12345 грн</span>
                          </div>
                          <div class="price">
                            <span>10357 грн</span>
                          </div>
                        </div>
                        <div class="number-block">
                          <div class="number quantity">
                            <input class="numeral" type="number" min="1" step="1" value="1">
                          </div>
                        </div>
                        <div class="buy-block">
                          <button class="buy">
                          <span>Подробнее</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-aos="zoom-in-up">
                  <div class="inner">
                    <div class="feature-block scrollbar-dynamic">
                      <div class="feature">
                        <div class="row">
                          <p>Lorem ipsum — классический текст-«рыба» (условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы). Является искажённым отрывком из философского трактата Марка Туллия Цицерона «О пределах добра и зла», написанного в 45 году до н. э. на латинском языке, обнаружение сходства приписывается Ричарду МакКлинтоку[1].</p>
                        </div>
                        <div class="row">
                          <span>Диагональ экрана:</span><span>15,6''</span>
                        </div>
                        <div class="row">
                          <span>Разрешение экрана:</span><span>1920x1080 Full HD</span>
                        </div>
                        <div class="row">
                          <span>Тип матрицы:</span><span>IPS</span>
                        </div>
                        <div class="row">
                          <span>Частота обновления экрана:</span><span>60 Гц</span>
                        </div>
                        <div class="row">
                          <span>Модель центрального процессора:</span><span>Ryzen 5 3550H</span>
                        </div>
                        <div class="row">
                          <span>Количество ядер:</span><span>4 ядра</span>
                        </div>
                        <div class="row">
                          <span>Частота центрального процессора:</span><span>2,1 (3,7) ГГц</span>
                        </div>
                        <div class="row">
                          <span>Объем ОЗУ:</span><span>8 ГБ</span>
                        </div>
                        <div class="row">
                          <span>Тип оперативной памяти:</span><span>DDR4</span>
                        </div>
                        <div class="row">
                          <span>Объем накопителя:</span><span>1 ТБ</span>
                        </div>
                        <div class="row">
                          <span>Тип накопителя:</span><span>HDD</span>
                        </div>
                        <div class="row">
                          <span>Производитель видеокарты:</span><span>Nvidia</span>
                        </div>
                        <div class="row">
                          <span>Модель графического процессора:</span><span>GeForce GTX 1650</span>
                        </div>
                        <div class="row">
                          <span>Объем видео памяти:</span><span>4 ГБ</span>
                        </div>
                        <div class="row">
                          <span>Тип видеокарты:</span><span>Дискретный</span>
                        </div>
                        <div class="row">
                          <span>Тип памяти видеокарты:</span><span>GDDR5</span>
                        </div>
                        <div class="row">
                          <span>Операционная система:</span><span>UEFI</span>
                        </div>
                        <div class="row">
                          <span>Оптический привод:</span><span>Без дисковода</span>
                        </div>
                        <div class="row">
                          <span>Стандарты Wi-Fi:</span><span>802.11 ac</span>
                        </div>
                        <div class="row">
                          <span>Bluetooth:</span><span>Версия 4.2</span>
                        </div>
                        <div class="row">
                          <span>HDMI:</span><span>Есть</span>
                        </div>
                        <div class="row">
                          <span>Количество USB 2.0:</span><span>1 шт.</span>
                        </div>
                        <div class="row">
                          <span>Количество USB 3.1:</span><span>2 шт.</span>
                        </div>
                        <div class="row">
                          <span>Количество USB 3.1 тип C:</span><span>1 шт.</span>
                        </div>
                        <div class="row">
                          <span>Время автономной работы:</span><span>До 10 ч</span>
                        </div>
                        <div class="row">
                          <span>Особенности:</span><span>Bluetooth, HDMI, Подсветка клавиатуры</span>
                        </div>
                        <div class="row">
                          <span>Толщина, мм:</span><span>25,9 мм</span>
                        </div>
                        <div class="row">
                          <span>Ширина, мм:</span><span>363,4 мм</span>
                        </div>
                        <div class="row">
                          <span>Глубина, мм:</span><span>255 мм</span>
                        </div>
                        <div class="row">
                          <span>Вес:</span><span>2,3 кг</span>
                        </div>
                        <div class="row">
                          <span>Материал корпуса:</span><span>Пластик</span>
                        </div>
                        <div class="row">
                          <span>Цвет производителя:</span><span>Черный</span>
                        </div>
                        <div class="row">
                          <span>Гарантийный срок:</span><span>1 год</span>
                        </div>
                        <div class="row">
                          <span>Комплектация:</span><span>Ноутбук, зарядное устройство, документация</span>
                        </div>
                        <div class="row">
                          <span>Страна производства:</span><span>Китай</span>
                        </div>
                        <div class="row">
                          <span>Бренд:</span><span>Acer</span>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="img">
                      <span class="video-block">
                        <span class="video">
                          <i class="icon-next-2"></i>
                        </span>
                      </span>
                      <span class="status-block">
                        <span class="status">
                          <span>Новинки</span>
                        </span>
                        <span class="status">
                          <span>Скидка</span>
                        </span>
                        <span class="status">
                          <span>Хит продаж</span>
                        </span>
                      </span>
                      <img class="lazy" src="/tpl/images/cat1-min.webp" alt="">
                    </a>
                    <div class="block links-block">
                      <ul class="links">
                        <li>
                          <a href="#" class="">
                            <i class="icon-bar-chart"></i>
                            <span class="foradd">В сравнение</span>
                            <i class="ifadd icon-cancel"></i>
                            <span class="ifadd">Из сравнения</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="">
                            <i class="icon-heart"></i>
                            <span class="foradd">В избранное</span>
                            <i class="ifadd icon-cancel"></i>
                            <span class="ifadd">Из избранного</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon-speech-bubble-5"></i>
                            <span>15</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon-star"></i>
                            <span>4.7</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="text">
                      <a href="#" class="caption">Краска для Audi A1 Nitro 5 Obsidian Black</a>
                      <div class="block vendor-avail-block">
                        <div class="vendor-block">
                          <div class="vendor">
                            Артикул: <span>1234556</span>
                          </div>
                        </div>
                        <div class="avail-block">
                          <div class="avail">
                            <i class="icon-checked-1"></i>
                            <span>В наличии</span>
                          </div>
                        </div>
                      </div>
                      <div class="description">
                        <p>Экран 14" IPS (1920x1080) Full HD, матовый / Intel Core i5-10210U (1.6 - 4.2 ГГц) / RAM 8 ГБ / SSD 512 ГБ / Intel UHD Graphics / без ОД / Wi-Fi / Bluetooth / веб-камера / без ОС / 1.6 кг / серебристый</p>
                        <span class="more">
                          <i class="icon-information"></i>
                          <i class="icon-cancel"></i>
                        </span>
                      </div>
                      <div class="block price-number-buy-block">
                        <div class="price-block">
                          <div class="price old">
                            <span>12345 грн</span>
                          </div>
                          <div class="price">
                            <span>10357 грн</span>
                          </div>
                        </div>
                        <div class="number-block">
                          <div class="number quantity">
                            <input class="numeral" type="number" min="1" step="1" value="1">
                          </div>
                        </div>
                        <div class="buy-block">
                          <button class="buy">
                          <span>Купить</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="notavailable" data-aos="zoom-in-up">
                  <div class="inner">
                    <div class="feature-block scrollbar-dynamic">
                      <div class="feature">
                        <div class="row">
                          <span>Диагональ экрана:</span><span>15,6''</span>
                        </div>
                        <div class="row">
                          <span>Разрешение экрана:</span><span>1920x1080 Full HD</span>
                        </div>
                        <div class="row">
                          <span>Тип матрицы:</span><span>IPS</span>
                        </div>
                        <div class="row">
                          <span>Частота обновления экрана:</span><span>60 Гц</span>
                        </div>
                        <div class="row">
                          <span>Модель центрального процессора:</span><span>Ryzen 5 3550H</span>
                        </div>
                        <div class="row">
                          <span>Количество ядер:</span><span>4 ядра</span>
                        </div>
                        <div class="row">
                          <span>Частота центрального процессора:</span><span>2,1 (3,7) ГГц</span>
                        </div>
                        <div class="row">
                          <span>Объем ОЗУ:</span><span>8 ГБ</span>
                        </div>
                        <div class="row">
                          <span>Тип оперативной памяти:</span><span>DDR4</span>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="img">
                      <span class="status-block">
                        <span class="status">
                          <span>Новинки</span>
                        </span>
                        <span class="status">
                          <span>Скидка</span>
                        </span>
                        <span class="status">
                          <span>Хит продаж</span>
                        </span>
                      </span>
                      <img class="lazy" src="/tpl/images/cat2-min.webp" alt="">
                    </a>
                    <div class="block links-block">
                      <ul class="links">
                        <li>
                          <a href="#" class="add">
                            <i class="icon-bar-chart"></i>
                            <span class="foradd">В сравнение</span>
                            <i class="ifadd icon-cancel"></i>
                            <span class="ifadd">Из сравнения</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="add">
                            <i class="icon-heart"></i>
                            <span class="foradd">В избранное</span>
                            <i class="ifadd icon-cancel"></i>
                            <span class="ifadd">Из избранного</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon-speech-bubble-5"></i>
                            <span>15</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="icon-star"></i>
                            <span>4.7</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="text">
                      <a href="#" class="caption">Краска для Audi A1 Black</a>
                      <div class="block vendor-avail-block">
                        <div class="vendor-block">
                          <div class="vendor">
                            Артикул: <span>1234556</span>
                          </div>
                        </div>
                        <div class="avail-block">
                          <div class="avail">
                            <i class="icon-checked-1"></i>
                            <span>Нет в наличии</span>
                          </div>
                        </div>
                      </div>
                      <div class="description">
                        <p>Экран 14" IPS (1920x1080) Full HD, матовый / Intel Core i5-10210U (1.6 - 4.2 ГГц) / RAM 8 ГБ / SSD 512 ГБ / Intel UHD Graphics / без ОД / Wi-Fi / Bluetooth / веб-камера / без ОС / 1.6 кг / серебристый</p>
                        <span class="more">
                          <i class="icon-information"></i>
                          <i class="icon-cancel"></i>
                        </span>
                      </div>
                      <div class="block price-number-buy-block">
                        <div class="price-block">
                          <div class="price old">
                            <span>12345 грн</span>
                          </div>
                          <div class="price">
                            <span>10357 грн</span>
                          </div>
                        </div>
                        <div class="number-block">
                          <div class="number quantity">
                            <input class="numeral" type="number" min="1" step="1" value="1">
                          </div>
                        </div>
                        <div class="buy-block">
                          <button class="buy">
                          <span>Подробнее</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>-->


		<!--		<section class="section- section-">
					<div class="container">
            <div class="colors-block">
              <ul class="colors">
                <li>
                  <div class="inner">
                    <div class="img">
                      <img src="images/cat1-min.png" alt="">
                    </div>
                    <div class="caption">
                      1353, 1353D, 5106H, AST1353, AST5106H
                    </div>
                    <div class="description">
                      Onyx Black Metallic
                    </div>
                    <button class="buy">
                      <span>
                        Купить
                      </span>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="inner">
                    <div class="img">
                      <img src="images/cat2-min.png" alt="">
                    </div>
                    <div class="caption">
                      5124H, AST5124H
                    </div>
                    <div class="description">
                      Midnight Blue Pearl
                    </div>
                    <button class="buy">
                      <span>
                        Купить
                      </span>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="inner">
                    <div class="img">
                      <img src="images/cat3-min.png" alt="">
                    </div>
                    <div class="caption">
                      6043D, AST6043D, RG6043AM
                    </div>
                    <div class="description">
                      Hyper Red Pearl
                    </div>
                    <button class="buy">
                      <span>
                        Купить
                      </span>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>-->

				{if $_modx->resource.id == 29312}
					{include 'main_catalog_autobrands'}
				{else}
					{if $_modx->config.cultureKey != 'ru'}
						{set $items = $_modx->runSnippet(
						'pdoResources',
						[
						'elementClass' => 'modSnippet',
						'parents' => "{$_modx->resource.id}",
						'tpl' => 'tplManufacturer',
						'depth' => 0,
						'limit' => 0,
						'sortby' => 'publishedon',
						'sortdir' => 'ASC',
						'tvPrefix' => '',
						'includeContent' => 1,
						'leftJoin' => '{"localizator" : {"class" : "localizatorContent","alias" : "localizator","on" :
						"localizator.resource_id = modResource.id"}}',
						'select' => '{"localizator" : "modResource.*, localizator.*, modResource.id"}',
						'where' => '{"localizator.key" : "'~ ('localizator_key' | option) ~'"}',
						]
						)}
					{else}
						{set $items = $_modx->runSnippet(
						'pdoResources',
						[
						'elementClass' => 'modSnippet',
						'parents' => "{$_modx->resource.id}",
						'tpl' => 'tplManufacturer',
						'depth' => 0,
						'limit' => 0,
						'sortby' => 'publishedon',
						'sortdir' => 'ASC',
						'tvPrefix' => '',
						'includeContent' => 1,
						]
						)}
					{/if}

					{if $items?}
						<section class="section- section-">
							<div class="container">
								<div class="colors-brand-block">
									<ul class="colors-brand">
										{$items}
									</ul>
								</div>
							</div>
						</section>
					{/if}
				{/if}

       <!-- <section class="section- section-">
					<div class="container">
            <div class="colors-year-block">
              <ul class="colors-year">
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      A1
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      A2
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      A3
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      A4
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      A5
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      A6
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      A7
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      A8
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      A9
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      A10
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>-->

        <!--<section class="section- section-">
					<div class="container">
            <div class="colors-year-block">
              <ul class="colors-year">
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      2022
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      2022
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      2022
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      2022
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      2022
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      2022
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      2022
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      2022
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      2022
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="inner">
                    <span class="caption">
                      2022
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>-->


				<section class="section- section-content">
					<div class="container">
						<div class="content">
							{if $_modx->config.cultureKey != 'ru'}
								{$_modx->resource.localizator_content}
							{else}
								{$_modx->resource.content}
							{/if}
						</div>
					</div>
				</section>
				<section class="section- section-prefooter">
				</section>
			</main>
			{include 'footer'}
		</div>
		{include 'popup'}
		{include 'script'}
	</body>
</html>