<!DOCTYPE html>
<html>
{include 'head'}
<body class="popup-holder popup-holder-menu popup-holder-catalog popup-holder-contacts popup-holder-callback popup-holder-help popup-holder-otherphones popup-holder-thanks" id="totop">
<div id="wrapper">
  {include 'topslider'}
  {include 'header'}
  <main role="main" id="main">
    {include 'breadcrumbs'}
    <section class="section- section-content section-sitemap">
      <div class="container">
        <div class="sitemap-block">
          {if $_modx->config.cultureKey != 'ua'}
          <ul class="sitemap">
            {$_modx->runSnippet('!pdoPage',
            [
              'elementClass' => 'modSnippet',
              'parents' => '2,160,164,29312',
              'resources' => '-1',
              'templates' => '-20,-45',
              'depth' => 0,
              'tpl' => 'tplSitemapHtml',
              'tvPrefix' => '',
              'limit' => 3,
              'sortby' => 'pagetitle',
              'sortdir' => 'ASC',
              'cache' => 1,
              'cacheTime' => 2592000,
              'includeContent' => 1,
              'tplPageWrapper' => '@INLINE <ul class="pagination">{$prev}{$pages}{$next}</ul>',
              'tplPage' => '@INLINE <li><a href="{$href}" title="{$pageNo}">{$pageNo}</a></li>',
              'tplPageActive' => '@INLINE <li class="active"><a href="#">{$pageNo}</a></li>',
              'tplPageFirst' => '@INLINE  ',
              'tplPageFirstEmpty' => '@INLINE  ',
              'tplPageLast' => '@INLINE  ',
              'tplPageLastEmpty' => '@INLINE  ',
              'tplPagePrev' => '@INLINE <li><a href="{$href}"><i class="icon-left-chevron"></i></a></li>',
              'tplPageNext' => '@INLINE <li><a href="{$href}"><i class="icon-right-chevron"></i></a></li>'
              'tplPagePrevEmpty' => '@INLINE  <li class="disabled"><a href="#" ><i class="icon-left-chevron"></i></a></li>',
              'tplPageNextEmpty' => '@INLINE  <li class="disabled"><a href="#" ><i class="icon-right-chevron"></i></a></li>',
              'leftJoin' => '{"localizator" : {"class" : "localizatorContent","alias" : "localizator","on" :
              "localizator.resource_id = modResource.id"}}',
              'select' => '{"localizator" : "modResource.*, localizator.*, modResource.id"}',
              'where' => '{"localizator.key" : "'~ ('localizator_key' | option) ~'"}',
            ]
          )}
          </ul>
          {else}
          <ul class="sitemap">
            {$_modx->runSnippet('!pdoPage',
              [
              'elementClass' => 'modSnippet',
              'parents' => '2,160,164,29312',
              'resources' => '-1',
              'templates' => '-20,-45',
              'depth' => 0,
              'tpl' => 'tplSitemapHtml',
              'tvPrefix' => '',
              'limit' => 3,
              'sortby' => 'pagetitle',
              'sortdir' => 'ASC',
              'cache' => 1,
              'cacheTime' => 2592000,
              'includeContent' => 1,
              'tplPageWrapper' => '@INLINE <ul class="pagination">{$prev}{$pages}{$next}</ul>',
              'tplPage' => '@INLINE <li><a href="{$href}" title="{$pageNo}">{$pageNo}</a></li>',
              'tplPageActive' => '@INLINE <li class="active"><a href="#">{$pageNo}</a></li>',
              'tplPageFirst' => '@INLINE  ',
              'tplPageFirstEmpty' => '@INLINE  ',
              'tplPageLast' => '@INLINE  ',
              'tplPageLastEmpty' => '@INLINE  ',
              'tplPagePrev' => '@INLINE <li><a href="{$href}"><i class="icon-left-chevron"></i></a></li>',
              'tplPageNext' => '@INLINE <li><a href="{$href}"><i class="icon-right-chevron"></i></a></li>'
              'tplPagePrevEmpty' => '@INLINE  <li class="disabled"><a href="#" ><i class="icon-left-chevron"></i></a></li>',
              'tplPageNextEmpty' => '@INLINE  <li class="disabled"><a href="#" ><i class="icon-right-chevron"></i></a></li>'
              ]
            )}
          </ul>
          {/if}
        </div>
        <div class="pagination-block">
          {$_modx->getPlaceholder('page.nav')}
        </div>
      </div>
    </section>
    <section class="section- section-prefooter">
    </section>
  </main>
  {include 'footer'}
</div>
{include 'popup'}
{include 'script'}
</body>
</html>